<p> Welcome, <%= current_user.username %>

<h2> Your Creations </h2>

<% @creations.each do |creature| %>
  <div>
    <%= creature.name %>
    <%= creature.description %>
    <%= creature.height %>
    <%= creature.weight %>
    <%= creature.sex %>
    <%= creature.temperament %>
  </div>
<% end %>

<a href='/creations/new'>Create New Creature</a>